ADMIN_TOKEN=WiEUlAviqXYgzQzRxwSa06xEYO2dF10MJ9zQ7c2PXf9GOpWXdIlOoWGsrlR609wu
CORS_ORIGIN=http://localhost:3000
MAX_MESSAGE_LENGTH=500
MAX_IMAGE_BYTES=1000000
MAX_AVATAR_BYTES=256000
IDLE_TIMEOUT_SEC=60
MAX_SESSION_SEC=900
